.usermonial {
    display: flex;
    justify-content: center;
    background-color: #112C41;
    /* height: 400px; */
    padding: 7rem 20px;
    position: relative;
}

.user-img {
    margin-right: 3rem;
    height: 15rem;
    width: 85%;
}

.monial-left {
    display: flex;
}

.monial-right {
    color: white;
}

.monial-inner {
    display: flex;
    width: 85%;
    align-items: center;
}

.monial-para {
    font-size: 17px;
    margin-bottom: 25px;
}

.user-para {
    padding-left: 25px;
    margin-bottom: 3px;
}

.read {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
}

/* mobile responsive */

@media (max-width: 425px) { 
    .usermonial {
        padding: 2rem 3rem;
    }

    .user-img {
        margin-right: .6rem;
        scale: .8;
    }

    .monial-inner {
        width: 100%;
        flex-direction: column;
    }

    .monial-para {
        font-size: 10px;
        margin-bottom: 21px;
    }

    .user-para {
        padding-left: 0px;
        margin-bottom: 2px;
        font-size: 9px;
    }

    .read {
        font-size: 9px;
    }

    .monial-right {
        margin-right: 1rem;
    }
}