.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 45px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.18);
    background-color: transparent;
    position: sticky;
    top: 0;
    transition: backgound-color 0.4s ease-in-out;
    border-bottom: 1px solid white;
    z-index: 2;
}

header.scrolled {
    background-color: #71a1d1;
    opacity: 0.98;
}

.link-zone1 {
    width: 50%-30px;
}

.logo {
    width: 60px;
    z-index: 2;
}

.flex1 {
    flex: 1;
}

.link-zone1 ul {
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    width: 50%-30px;
}

.link-zone2 ul {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;


}

.navlink {
    text-decoration: none;
    color: white;

}

.header.scrolled a {
    color: black;
    text-decoration: none;
    list-style: none;
}

header ul {
    list-style: none;
}

.header a {
    transition: color 0.4s ease-in-out;
}

.nav-logo {
    width: 60px;
    height: 58px;
}

.MobileHide {
    display: block;
}

.hamberger {
    display: none;
}

.navlinks {
    display: none;
}

.links {
    color: #fff;
}

.navlink:hover {
    color: rgb(255, 127, 80);
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
}

@media(max-width:768px) {
    .MobileHide {
        display: none;
    }

    .hamberger {
        display: block;
        position: absolute;
        left: 5%;
        z-index: 3;
    }

    .navlinks {
        height: 100vh;
        padding: 20% 0px;
        display: flex;
        position: absolute;
        top: -100vh;
        z-index: 2;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.949);
        backdrop-filter: blur(5px);
        transition: all 0.3s ease-in-out;
    }

    .open {
        top: 0;
    }

    .open a {
        color: #fff;
        text-decoration: none;
    }

    .open a:hover {
        color: rgb(255, 127, 80);
    }


}

@media (max-width: 425px) {
    .navbar {
        padding: 5px;
    }

    .nav-logo {
        width: 44px;
        height: 40px;
    }

    .ham-icon {
        scale: .8;
    }
}