.footer {
    height: 350px;
    border: 1px solid black;
    background-color: #000000;
}

.footer-logo {
    width: 100px;
    height: 88px;
}

.foot-up {
    display: flex;
    justify-content: space-between;
    padding: 0px 86px;
    margin-top: 3rem;
}

.socials {
    display: flex;
    align-items: center;
}

.socials>a {
    margin-right: 20px;
    cursor: pointer;
    color: rgba(162, 162, 162, 0.727);
}

.socials>a :hover {
    color: rgb(255, 127, 80);
}

.foot-links ul {
    list-style: none;
}

.foot-links ul li {
    line-height: 2;
}

.foot-links ul li a {
    text-decoration: none;
    color: rgba(228, 216, 216, 0.84);
    cursor: pointer;
}

.foot-links ul li a:hover {
    color: rgb(255, 127, 80);
    text-decoration: underline;
}

.foot-title {
    margin-bottom: 1.3rem;
    color: aliceblue;
}

.foot-down {
    display: flex;
    justify-content: space-between;
    padding: 0px 86px;
    margin-top: 3rem;
    align-items: center;
}

.bottom-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.555);
    margin-right: 22px;
    cursor: pointer;
}

.copyright {
    color: rgba(255, 255, 255, 0.555);
}

@media (max-width: 768px) {
    .foot-up {
        padding: 0px 40px;
    }

    .copyright {
        font-size: 10px;
    }

    .bottom-link {
        font-size: 10px;
    }

    .foot-links ul li a {
        font-size: 12px;
    }

    .foot-title {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .foot-up {
        padding: 0px 40px;
    }

    .copyright {
        font-size: 10px;
    }

    .bottom-link {
        font-size: 10px;
    }

    .foot-links ul li a {
        font-size: 12px;
    }

    .foot-title {
        font-size: 12px;
    }

}

@media (max-width: 425px) {
    .footer-logo {
        width: 50px;
        height: 51px;
    }

    .socials>a {
        margin-right: 0px;
        font-size: 12px;
    }

    .foot-up {
        padding: 0px 10px;
    }

    .foot-links ul li a {
        font-size: 10px;
    }

    .socials>a {
        margin-right: 5px;
        font-size: 12px;
    }

    .foot-title {
        font-size: 9px;
    }

    .foot-links ul li {
        line-height: 1.1;
    }

    .foot-down {
        padding: 0px 15px;
    }

    .copyright {
        font-size: 7px;
    }

    .bottom-link {
        font-size: 6px;
    }

    .footer {
        height: 260px;
    }
}