@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Serif", serif;
}

/* slide arrow styling */

.slide-left:hover {
  color: red !important;
  transition: 0.4s;
  cursor: pointer;
  transform: translateX(-5px);
}
.slide-right:hover {
  color: red !important;
  transition: 0.4s;
  cursor: pointer;
  transform: translateX(5px);
}